<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
	  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
	  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	
	<properties resource="fanfou.properties"/>

	<context id="MySQLTables" targetRuntime="MyBatis3">

		<plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

		<commentGenerator>
			<property name="suppressAllComments" value="false" />
		</commentGenerator>


		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="${jdbc.url}"
			userId="${jdbc.username}"
			password="fanfoutest"
			>
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="info.fanfou.db.entity"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="constructorBased" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="info.fanfou.db.dao.xml"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="info.fanfou.db.dao.mapper" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<table tableName="GOODS" domainObjectName="Goods">
			<generatedKey column="GOODS_ID" sqlStatement="MySql" identity="true"/>
		</table>

        <table tableName="CUSTOMER_ORDER" domainObjectName="Order">
            <generatedKey column="ORDER_ID" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="ORDER_DETAIL" domainObjectName="OrderDetail">
            <generatedKey column="DETAIL_ID" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="ROLE" domainObjectName="Role">
            <generatedKey column="ROLE_ID" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="USER" domainObjectName="User">
            <generatedKey column="USER_ID" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="USER_ROLE" domainObjectName="UserRole">
            <generatedKey column="ID" sqlStatement="MySql" identity="true"/>
        </table>
	</context>
</generatorConfiguration>
